.image {
  background-size: cover;
  background-position: center;
  background-clip: content-box;
  height: 100px;
  width: 100px;
  /* box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23); */
  /* position: relative; */
  margin: 0 auto;
  /* margin-top: 100px; */
}

.image .fa-spinner {
  font-size: 180px;
  position: absolute;
  left: 25%;
  top: 25%;
}

.image, .first-name, .last-name, .email, .phone {
  display: inline-block;
  border: 1px black solid;
  height: 100px;
}

.first-name, .last-name, .email, .phone {
  padding: 40px;
  position: relative;
  bottom: 41px
}

.employee {
  margin: auto;
  width: 60%;
}

